@import "tailwindcss";

:root{
    --primary-color: #7367f0;
  }
  
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 8px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(159, 150, 150); 
      border-radius: 10px;
    }
    .scrollbar::-webkit-scrollbar-track {
      background: #e5e7eb; 
    }
  }
  
    .Button{
       @apply px-4 py-2 rounded-md flex justify-center items-center
    }
  
    .MenuItemsStyle {
      @apply flex items-center overflow-hidden justify-between gap-2 px-2 py-3  duration-300 rounded-md cursor-pointer 
    }
  
    
    .neon-button {
      background-color: #fef08a; /* زرد ملایم‌تر */
      color: #222; /* رنگ متن */
      padding: 8px 16px;
      border-radius: 8px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 3px rgba(254, 240, 138, 0.7), 
                  0 0 6px rgba(254, 240, 138, 0.5), 
                  0 0 12px rgba(254, 240, 138, 0.3);
    }